@font-face {
    font-family: typo;
    src: url(../css/gt-walsheim-web.woff);
}
@font-face {
    font-family: job;
    src: url(../css/gt-walsheim-regular-oblique-web.woff);
}

body{
  background-color: #051240;
}

#content{
  position: absolute;
  top:  0;
  bottom: 0;
  right: 0;
  left: 0;
}
#content p{
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
.about{
  font-size:30px;
}

#container{
  margin-top: 110px;

}
.container{
  margin-top: 140px;

}

.nama{
  font-size: 50px;
  text-decoration: none;
  font-family: typo ;
}

.job{
  font-family: job;
}

.avatar{
  text-align: center;
}

.avatar img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

@media handheld, only screen and (max-width: 720px) {

#container{
  margin-top: 220px;
}

.nama{
  font-size: 25px;
}

.about{
  font-size: 18px;
}

.avatar img {
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
}

}
